.home{
  color: white;
  text-align: center;
}
mat-icon{
  font-size: 40px;
  color: yellow;
}
.head-font{
  font-weight: 500;
}
.sections{
  padding: 40px 0px;
}
.mat-stroked-button {
  border: 1px solid #fafafa;
  padding: 0 15px;
  line-height: 34px;
  border-radius: 20px;
  margin: 0px 23px;
  width: 200px;
}
.login-btn{
  background-color: white;
  color: #5F41B7;
}