<div class="home">
<h2>Join Us Today</h2>
<p>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing 
<br>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing, dummy text of the printing </p>
<div fxLayout="row" fxLayout.lt-sm="column" class="sections">
    <div fxFlex.xs="100" fxFlex.lg="30" fxFlex.md="30" >
        <mat-icon>access_alarms</mat-icon>
        <div class="head-font">Spend Time Smart</div>
        <p>What is Lorem Ipsum Lorem Ipsum </p>
    </div>
    <div fxFlex.xs="100" fxFlex.lg="30" fxFlex.md="30" >
        <mat-icon>mic</mat-icon>
        <div class="head-font">Audio Broadcast</div>
        <p>What is Lorem Ipsum Lorem Ipsum </p>
    </div>
    <div fxFlex.xs="100" fxFlex.lg="30" fxFlex.md="30" >
        <mat-icon>timeline</mat-icon>
        <div class="head-font">Boost Your Time</div>
        <p>What is Lorem Ipsum Lorem Ipsum </p>
    </div>
    <div fxFlex.xs="100" fxFlex.lg="30" fxFlex.md="30" >
        <mat-icon>stars</mat-icon>
        <div class="head-font">Quality</div>
        <p>What is Lorem Ipsum Lorem Ipsum </p>
    </div>
    
    </div>
    <div>
        <button mat-stroked-button>Sign Up</button>
        <button mat-stroked-button class="login-btn">Login</button>
    </div>

</div>